# App Config
URL=https://your-config-url.com/flashsms.json

BOT_TOKEN=your-telegram-bot-token
CHANNEL_ID=-100xxxxxxxxxx
ADMIN_ID=123456789

ENV_FILE=.env

# Redis Config
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-password
REDIS_DB=0

# Redis Keys
SERVICE_INDEX=service_index
SERVICE_PREFIX=service_data:
ORDER_PREFIX=order_index
ORDER_PREFIX=order_data:

# Bot Timing Config
BASE_TIMEOUT=10
EXTENDED_TIMEOUT=20
CHECK_INTERVAL=6
UPDATE_INTERVAL=10
BATCH_SIZE=100
COMMISSION=1.15

# Telegram Assets
START_PAGE=your-start-page-file-id
DEPOSIT_PAGE=your-deposit-page-file-id
REFFERAL_PAGE=your-referral-page-file-id
LOADING_GIF=your-loading-gif-file-id
HELP_PAGE=your-help-page-file-id
SETTINGS_PAGE=your-settings-page-file-id
DEPOSIT_INR_QR_CODE=https://your-hosted-image.com/image.png

# API Keys (Set from your respective SMS providers)
FIVESIM=your-fivesim-jwt-token
5_SIM=your-5sim-api-key
FAST_SMS=your-fast-sms-api-key
SMS_HUB=your-smshub-api-key
SMS_ACTIVATE=your-smsactivate-api-key
GRIZZLY_SMS=your-grizzlysms-api-key
SMS_BOWER=your-smsbower-api-key
VAK_SMS=your-vaksms-api-key
TIGER_SMS=your-tigersms-api-key

# Inline Query Cache Settings
CACHE_PREFIX=cache_data:
CACHE_DURATION=1800
CACHE_RESULTS_PER_PAGE=25
CACHE_EXPIRY=5
