# Grafana Datasources Provisioning (Industrial v2.0)
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      timeInterval: "10s"
      httpMethod: POST

  - name: Loki
    type: loki
    uid: loki
    url: http://loki:3101
    jsonData:
      maxLines: 1000
